@media only screen and (min-width: @responsive-size-tablet) {
    #main-menu {
        margin-bottom: 1.5em;
    }

    .main_menu when (@menu-main) {
        position: relative;
        z-index: 11;
        .inline-block-wrap(@font-size : 20px;);
        & when not(@nav-bg = transparent) {
            background: @nav-bg;
        }
        & when not(@nav-color = @link-color) {
            color: @nav-color;
        }

        & > li {
            //float    : left;
            position: relative;
            .grid-elements(5; @grid-margin-width; true);
            .border-radius(10px);
            .rgba(#ffffff, 65%);

            & > a {
                font-size: 1.15em;
            }

            &:hover {
                & when not(@nav-bg = @nav-bg-li-hover) {
                    background: @nav-bg-li-hover;
                }
                & when not(@nav-color = @nav-color-li-hover) {
                    color: @nav-color-li-hover;
                }

                ul {
                    display: block;
                }
            }
            // TODO Why we had this property for the tag 'a'?
            //& > a when (@responsive), (@adaptive){
            //    float : left;
            //}
        }

        a {
            display: block;
            padding: 5px @padding-base-horizontal;
            text-align: center;
            text-decoration: none;
            .border-radius(10px);
            & when not(@nav-color = @link-color) {
                color: inherit;
            }

            &.current {
                background: @brand-primary;
                color: @primary-color;
            }
        }

        ul {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 0;
            display: none;
            width: 300px;
            background: @nav-drop-down-list-bg;
            & when not(@nav-drop-down-list-color = @nav-color) {
                color: @nav-drop-down-list-color;
            }
            .box-shadow(0 3px 5px @gray-dark);

            & when (@mobile-menu) {
                &.open:extend(.mobile-menu ul.open) {
                }
            }

            li {
                float: none;

                &:hover {
                    & when not(@nav-drop-down-list-bg-hover = @nav-bg-li-hover)
                   and not(@nav-drop-down-list-bg-hover = @nav-drop-down-list-bg) {
                        background: @nav-drop-down-list-bg-hover;
                    }
                    & when not(@nav-drop-down-list-color-hover = @nav-drop-down-list-color)
                   and not(@nav-drop-down-list-color-hover = @nav-color-li-hover) {
                        color: @nav-drop-down-list-color-hover;
                    }
                }

                a {
                    &.current {
                        & when (@nav-drop-down-list-color-hover = @nav-drop-down-list-color-current) {
                            &:extend(.main_menu ul li:hover);
                        }

                        & when not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg)
                       and not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg-hover) {
                            background: @nav-drop-down-list-bg-current;
                        }
                        & when not(@nav-drop-down-list-color-current = @nav-drop-down-list-color)
                       and not(@nav-drop-down-list-color-current = @nav-drop-down-list-color-hover) {
                            color: @nav-drop-down-list-color-current;
                        }
                    }
                }
            }
        }
    }
}